@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --background-color: #f0f5f9;
  --primary-color: #4255ff;
  --secondary-color: #edefff;
  --gray-dark-color: #586380;
  --gray-light-color: #edeff4;
  --font-primary: "Inter", "Inter Fallback";
  --font-secondary: "Montserrat", sans-serif;
}

/* SCROLLBAR SETTINGS */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* background of the scrollbar */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

/* scrollbar hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  overflow-y: scroll;
  font-family: var(--font-secondary);
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 0.8rem;
}

/* NAVBAR SETTINGS*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: auto;
  padding: 5rem 1rem 0 1rem;
  background: white;
  z-index: 100;
  color: var(--gray-dark-color);
  font-size: 0.8rem;
}

nav > div {
  margin-bottom: 2rem;
}

ul {
  margin-top: 1rem;
}

li {
  list-style: none;
  padding: 0.7rem;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.nav-icon {
  font-size: 1.3rem;
  --ionicon-stroke-width: 42px;
}

.collapse {
  font-weight: 700;
  display: flex;
  margin: 0 3rem 0 1rem;
}

/* HEADER SETTINGS */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1000;
  padding: 0.7rem 1rem;
  display: flex;
  justify-content: space-between;
}

#header-logo {
  width: 8rem;
  padding: 0.5rem;
}

header div {
  display: flex;
  align-items: center;
}

#menu-icon {
  font-size: 2rem;
  color: var(--gray-dark-color);
  --ionicon-stroke-width: 42px;
}

#searchbar {
  background-color: var(--gray-light-color);
  border-radius: 10px;
  padding: 0 0.5rem;
  width: 20rem;
}

#search-icon {
  color: var(--gray-dark-color);
  --ionicon-stroke-width: 52px;
  font-size: 1.2rem;
}

#searchbar input {
  border: none;
  background-color: transparent;
  margin-left: 0.6rem;
  font-size: 0.8rem;
  height: 2.5rem;
  width: 100%;
  outline: none;
}

#searchbar input:focus,
#searchbar input:active {
  outline: none;
  box-shadow: none;
}

#add-icon {
  color: white;
  --ionicon-stroke-width: 32px;
  font-size: 2rem;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 0.2rem;
  margin-right: 1rem;
}

#add-icon p {
  font-size: 0.8rem;
  margin: 0 1rem 0 0.2rem;
}

#profile-icon {
  color: var(--gray-dark-color);
  --ionicon-stroke-width: 52px;
  font-size: 3rem;
}

.clickable {
  cursor: pointer;
}

.modal {
  display: none;
  flex-direction: column;
  top: 5rem;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: auto;
  height: auto;
  justify-content: center;
  padding: 0;
}

.modal a {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal ion-icon {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

#add-modal {
  left: calc(100% - 14rem);
}

#profile-modal {
  left: calc(100% - 18rem);
}

#profile-modal > div {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  margin: 0;
  border-bottom: 1px solid var(--gray-light-color);
  align-items: flex-start;
}

#profile-modal-section-1 ion-icon {
  font-size: 5rem;
}

#profile-modal-section-1 {
  flex-direction: row !important;
  justify-content: left;
  align-items: center !important;
}

#profile-modal-section-1 > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.username {
  font-size: 1rem;
  color: black;
  font-weight: 500;
}

/* CONTENT SETTING */

main {
  margin-left: 15rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 4rem 2rem 0 2rem;
  min-width: 15rem;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  padding: 0 2rem;
}

/* SEARCH RESULTS SETTINGS */
#search-results {
  position: fixed;
  top: 5rem;
  background-color: white;
  border-radius: 0.5rem;
  height: auto;
  width: 35rem;
  z-index: 1000;
  margin: auto 50vw;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  box-shadow: 0.3rem 0.3rem 0.5rem gray,
    -0.3rem -0.3rem 0.5rem var(--secondary-color);
}

#search-results span {
  padding: 0.5rem;
  width: 100%;
}

#search-results span:hover {
  background-color: var(--secondary-color);
}

/* FOOTER */

footer {
  border-top: 2px solid var(--secondary-color);
  padding-top: 2rem;
}

footer li {
  background-color: transparent;
}

footer a {
  text-decoration: none;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

/* SECTION SETTINGS */

section {
  margin: 2rem 0;
}

.card {
  flex: 1;
  border-radius: 10px;
  height: 15rem;
  border: 2px solid var(--gray-light-color);
  background-color: white;
  transition: border-bottom 0.3s ease, opacity 0.3s ease;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-family: var(--font-secondary) !important;
  cursor: pointer;
  min-width: 30rem;
}

.card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-title div {
  background-color: var(--secondary-color);
  color: var(--gray-dark-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 0.5rem;
}

.card-description {
  flex: 1;
  color: var(--gray-dark-color);
  margin: 1rem 0;
  scrollbar-width: none;

  position: relative;
  overflow: hidden;
}

.fade-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 70%,
    rgba(255, 255, 255, 1) 100%
  );
}

.card-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
}

.card-author ion-icon {
  font-size: 1.7rem;
  margin-right: 0.3rem;
}

.card:hover {
  border-bottom-width: 0.5rem;
  border-bottom-color: var(--primary-color);
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
}

.section-body {
  display: flex;
  height: auto;
  overflow-x: auto;
  margin-top: 1rem;
  padding-bottom: 1rem;
  scrollbar-width: none;
  scroll-behavior: smooth;
  gap: 2rem;
  flex: 1;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: var(--gray-dark-color);
  border: none;
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.carousel-container:hover .carousel-button {
  opacity: 1;
  pointer-events: auto;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* ADD CARD PAGE SETTINGS */
#add-card-header h1 {
  margin-bottom: 1rem;
}
#add-card-header div {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: vertical;
}

#add-card-header input {
  font-size: 1.2rem;
}

#add-card-header input::placeholder {
  font-size: 0.8rem;
}

.header-input {
  margin: 0.5rem 0;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
}

.header-input:focus,
.header-input:active {
  outline: none;
  box-shadow: none;
}

.input-item {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  margin: 1.5rem 0;
}

.input-item > :first-child {
  border-bottom: 3px solid var(--background-color);
  color: var(--gray-dark-color);
}
.input-item > div {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.item-title,
.item-definition {
  flex: 1;
}

.input-field {
  width: 90%;
  border: none;
  border-bottom: 2px solid var(--gray-dark-color);
  outline: none;
  padding: 0.5rem 0;
  font-size: 1rem;
  color: black;
}

.input-field::placeholder {
  color: var(--gray-dark-color);
  font-size: 0.8rem;
}

.input-field:focus {
  border-bottom: 4px solid var(--primary-color);
}

.input-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: var(--gray-dark-color);
  text-transform: uppercase;
}
#add-card-footer ion-icon {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

#add-card-footer {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1rem;
  color: var(--gray-dark-color);
}

#add-card-footer:hover * {
  color: var(--primary-color);
}

#save-quiz-wrapper button {
  font-size: 1rem;
  background-color: var(--primary-color);
  padding: 1.5rem 3rem;
  color: white;
  border-radius: 10px;
  border: none;
}

#save-quiz-wrapper {
  display: flex;
  justify-content: right;
}

.input-item-header {
  display: flex;
  justify-content: space-between;
}

.input-item-header div {
  padding: 0.2rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-item-header div:hover {
  background-color: var(--background-color);
}

/* QUIZ PAGE */

#flashcard-board {
  height: 27rem;
  background-color: transparent;
  margin: 1rem 0;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  scrollbar-width: none;
  padding: 1rem;
}

#flashcard-board p {
  font-size: 3rem;
}

#quiz-reviews {
  display: flex;
  align-items: flex-end;
}

#quiz-reviews ion-icon {
  color: #ffcc1c;
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

#quiz-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.page-indicator {
  display: flex;
}
.flash {
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  color: var(--gray-dark-color);
  border: 3px solid var(--gray-light-color);
  margin: 0 1rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicator {
  margin: 1.5rem 0;
}
.line-indicator-light {
  background-color: var(--gray-light-color);
  width: 100%;
  height: 0.1rem;
}

.line-indicator-dark {
  background-color: var(--gray-dark-color);
  width: 0%;
  height: 100%;
}

.author-container {
  display: flex;
}

.author-profile {
  width: 2rem;
  height: 2rem;
}

.author-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
}

.hidden {
  display: none !important;
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; /* Preserves the 3D space for both sides */
  transition: transform 1s;
  box-shadow: 0.3rem 0.3rem 0.5rem gray,
    -0.3rem -0.3rem 0.5rem var(--secondary-color);
  border-radius: 1rem;
  background-color: white;
}

.flipper div {
  padding: 0.5rem;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hides the back side when flipped */
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  transform: rotateY(180deg);
}

.flip-container.flipped .flipper {
  transform: rotateY(180deg);
}

/* RESPONSIVE SETTINGS */

@media (max-width: 1100px) {
  .card {
    flex: none;
    width: 40%;
  }

  #suggested-section .card {
    width: 60%;
  }
}
@media (max-width: 900px) {
  h1 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 0.6rem;
  }
  .collapsible {
    display: none;
  }

  .card {
    width: 100%;
    min-width: 0;
  }

  #suggested-section .card {
    width: 100%;
  }

  #quiz-header {
    margin-bottom: 0;
  }

  #quiz-reviews ion-icon {
    font-size: 0.8rem;
  }

  #flashcard-board {
    height: 22rem;
  }

  #flashcard-board p {
    font-size: 2rem;
  }

  #searchbar {
    width: 10rem;
  }

  .flash {
    padding: 0.3rem;
  }

  .flip-container {
    margin-top: 0;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .footer-section,
  .footer-section ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #search-results {
    width: 25rem;
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  main {
    margin-left: 4.75rem;
    padding-left: 0;
    padding-right: 0;
  }

  #menu-bar {
    display: none;
  }

  .collapse {
    display: none;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #search-results {
    width: 17rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 450px) {
  #flashcard-board p {
    font-size: 1rem;
  }
  #header-logo {
    width: 2.5rem;
    padding: 0;
  }

  #searchbar {
    width: 8rem;
  }

  #search-results {
    width: 10rem;
    font-size: 0.7rem;
  }
}

@media (max-width: 350px) {
  #add-icon {
    margin-right: 0;
  }

  #search-results {
    width: 5rem;
    font-size: 0.5rem;
  }
}
